@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Walter+Turncoat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Open+Sans&family=Walter+Turncoat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');



.background{
    background: url(background.jpg) no-repeat center center fixed;
    background-size: cover;
    
}

.header{
    color: red;
    background-color: rgba(31, 30, 30, 0.7);
    text-align: center;
    padding: 20px;
    font-size: 40px;
    font-weight: bolder;
    border-style: solid;
    border-color: red;
    font-family: 'Bree Serif', serif;
    
    
    

    
    
}

.navbar{
    display: flex;
    justify-content: space-around;
    background-color: black;
    overflow: hidden;
}


.navbar a {
    color: black;
    text-align: center;
    font-family: 'Reggae One', cursive;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
    border-right: 1px solid black;
    border-left:  1px solid black;
    width: 400pxc;
    background-color: red;
}

.navbar a:hover {
    background-color: white;
    color: black;
}

.navbar a.active {
    background-color: green;
    color: white;
}



.navbar2{
    display: flex;
    justify-content: space-around;
    background-color: black;
    overflow: hidden;
}


.navbar2 a {
    color: black;
    text-align: center;
    font-family: 'Reggae One', cursive;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
    border-right: 1px solid black;
    border-left:  1px solid black;
    width: 400pxc;
    background-color: red;
}

.navbar2 a:hover {
    background-color: white;
    color: black;
}



.navbar2 a.active2 {
        background-color: green;
        color: white;
}

.navbar3{
    display: flex;
    justify-content: space-around;
    background-color: black;
    overflow: hidden;
}


.navbar3 a {
    color: black;
    text-align: center;
    font-family: 'Reggae One', cursive;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
    border-right: 1px solid black;
    border-left:  1px solid black;
    width: 400pxc;
    background-color: red;
}

.navbar3 a:hover {
    background-color: white;
    color: black;
}



.navbar3 a.active3 {
        background-color: green;
        color: white;
}





.sec{
    font-size: 60px;
    font-style: inherit;
    color:black;
    text-align: center;
    background-color:  rgb(240, 236, 236, 0.7);
    font-weight: bolder;
    border-style: solid;
    border-color: black;
    font-family: 'Bree Serif', serif;
}

.intro{
    font-size: 130%;
    color: white;
    background-color:  rgba(31, 30, 30, 0.7) ;
    text-align: center;
    border-style: solid;
    border-color:  rgba(31, 30, 30, 0.7);
    font-family: 'Reggae One', cursive;

}

.vid{
    text-align: center;
    background-color:  rgb(240, 236, 236, 0.7);
}

.about{
float: left;
font-size: large;
color:black;
background-color: red;
text-align: center;
padding: 20px;
font-weight: bolder;
border-style: solid;
border-color: black;
font-family: 'Reggae One', cursive;
}

.aboutintro{
    float: left;
    font-size: large;
    color:white;
    background-color:   rgba(31, 30, 30,);
    text-align: left;
    padding: 20px;
    font-family: 'Reggae One', cursive;

}

.goals{
    text-align: center;
    background-color:   rgba(31, 30, 30, 0.7);
}

.footer{
    background-color:   rgba(31, 30, 30, 1);
    font-weight: bold;
    color: white;
    border-style: solid;
    border-color: red;
}

td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    color: white;
    background-color: darkred;
    text-align: center;
    font-size: large;
    width: 20%;
    
  }
  .titles{
      background-color:  rgba(31, 30, 30, 0.7);
      color: white;
      font-family: 'Reggae One', cursive;
  }

 



 
